<p>home works!</p>
<div class="home-container">

    <p>Home/</p>

    <div class="dropdown">
        <a class="btn btn-default dropdown-toggle" href="#" id="Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Sedes
    </a>
        <ul class="dropdown-menu" aria-labelledby="Dropdown">
            <li><a class="dropdown-item" href="#">Consultar</a></li>
            <li><a class="dropdown-item" href="#">Agregar</a></li>
            <li><a class="dropdown-item" href="#">Modificar</a></li>
        </ul>
    </div>








</div>