<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body class="login-container">
    <div class="text-center container">
        <div class="login-container-form">
            <div class="login-form">
                <form>
                    <img class="mb-4" src="/assets/img/logo-everis.png" alt="logo-bolsa" class="logo-img" />
                    <h1 class="h3 mb-3 fw-normal">Registrarse</h1>

                    <br />

                    <!-- Nombres -->
                    <div class="form-floating">
                        <input type="text" id="name" class="form-control" placeholder="Nombre" required autofocus>
                        <label for="floatingName">Nombre</label>
                    </div>
                    <br />


                    <!-- Direccion de correo  -->
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput" placeholder="nombre@ejemplo.com" />
                        <label for="floatingInput">Direccion de Correo</label>
                    </div><br />

                    <!-- Contraseña -->
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" />
                        <label for="floatingPassword">Contraseña</label>
                    </div><br />

                    <!-- Confirmar contraseña -->
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Confirmar Contraseña" />
                        <label for="floatingPassword">Confirmar Contraseña</label>
                    </div>

                    <br />
                    <button class="w-100 btn btn-lg btn-primary" type="submit">
                        Registrarse
                    </button>




                    <p class="mt-5 mb-3 text-muted">¿Ya tienes una cuenta? <a class="nav-link">Iniciar Sesión</a></p>
                </form>
            </div>
        </div>
    </div>
</body>

</html>