<div class="container container-fluid">

    <div class="container-header">

        <div class="container-title">
            <a [routerLink]="['/home']" class="btn btn-primary btn-bloc  btn-lgk">
                <i class="bi bi-arrow-left"></i>

            </a> &nbsp;
            <h2>Sedes</h2> &nbsp; &nbsp;
            <a [routerLink]="['/crear-sede']" class="btn btn-secondary btn-bloc  btn-lgk">
                <i class="bi bi-plus"></i> </a>
        </div>

        <div>
            <span> Vista: </span>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary" (click)="setViewMode('list')">Lista</button>
                <button type="button" class="btn btn-primary" (click)="setViewMode('table')">Tabla</button>

            </div>
        </div>

    </div>

    <hr>

    <!-- Modo lista -->

    <div *ngIf="mode=='list'">

        <div class="card mb-4" *ngFor="let item of sedes">
            <div class="row card-container">
                <div class="col-12 col-lg-3 mb-2 align-items-stretch">
                    <img class="w-100"> src="{{item.img}}"
                </div>
                <div class="col-12 col-lg-4 border-border-black border-right no-border-xs">
                    <h3 class="font-weight-bold">{{item.nombre}}</h3>
                    <p><b>Dirección:</b>{{item.direccion}}</p>

                    <p><b>Teléfono:</b>
                        <a href="#" class="btn btn-link">{{item.telefono}}</a>
                    </p>

                    <p><b>Correo:</b>{{item.correo}}</p>
                    <button type="button" class="btn btn-danger" (click)="eliminarSede(item.id)">Eliminar</button> &nbsp;
                    <button type="button" class="btn btn-primary" [routerLink]="['/editar-sede', item.id]">Editar</button>
                </div>


            </div>

        </div>
    </div>

    <!-- Modo tabla -->
    <div *ngIf="mode=='table'">


        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of sedes">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.nombre}}</td>
                    <td>{{item.direccion}}</td>
                    <td>{{item.telefono}}</td>
                    <td>{{item.correo}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-danger" (click)="eliminarSede(item.id)">Eliminar</button>
                            <button type="button" class="btn btn-primary" [routerLink]="['/editar-sede', item.id]">Editar</button>

                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>



</div>